.git
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.ltex-dictionary
.luarc.json
lazy-lock.json
spell/
startup_Times.log
# IDK wtf is this tbh
command\ list-panes:\ too\ many\ arguments\ \(need\ at\ most\ 0\)
